<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialScannerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SerialScannerApp.Properties.Settings>
            <setting name="StartUpWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendEnterAfterScan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastCOMPort" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnectCOM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FocusWindowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetWindowTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomParsingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomDelimiter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="CustomFieldIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadSpeedMs" serializeAs="String">
                <value>80</value>
            </setting>
        </SerialScannerApp.Properties.Settings>
    </userSettings>
</configuration>